<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      <strong routerLink="/login" style="cursor: pointer;">Spider-Man Multiverse</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="glass-content">
    <ion-grid class="custom-grid">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" sizeLg="12" sizeMd="12" sizeSm="12" size="12">
                  <div class="contentIcon"><ion-icon class="iconDanger" *ngIf="!isValid" name="alert-circle-outline" color="danger" style="width: 30px;"></ion-icon></div>
                  <app-input [inputPlaceholder]="splitWord('Nombre')" [(inputValue)]="nameValue" ngDefaultControl (inputValueChange)="nameValue" required></app-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" sizeLg="12" sizeMd="12" sizeSm="12" size="12">
                  <div class="contentIcon"><ion-icon class="iconDanger" *ngIf="!isValid" name="alert-circle-outline" color="danger" style="width: 30px;"></ion-icon></div>
                  <app-input [inputPlaceholder]="splitWord('Alias')" [(inputValue)]="aliasValue" ngDefaultControl (inputValueChange)="aliasValue" required></app-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" sizeLg="12" sizeMd="12" sizeSm="12" size="12">
                  <div class="contentIcon"><ion-icon class="iconDanger" *ngIf="!isValid" name="alert-circle-outline" color="danger" style="width: 30px;"></ion-icon></div>
                  <app-input [inputPlaceholder]="splitWord('Tierra')" [(inputValue)]="earthValue" ngDefaultControl (inputValueChange)="earthValue" required></app-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" sizeLg="12" sizeMd="12" sizeSm="12" size="12">
                  <div class="contentIcon"><ion-icon class="iconDanger" *ngIf="!isValid" name="alert-circle-outline" color="danger" style="width: 30px;"></ion-icon></div>
                  <!-- <app-input [inputPlaceholder]="splitWord('Imagen')" [(inputValue)]="imgValue" ngDefaultControl (inputValueChange)="imgValue" required></app-input> -->
                  <ion-item>
                    <ion-label position="stacked">Imagen</ion-label>
                    <input type="file" (change)="onFileSelected($event)">
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" sizeLg="12" sizeMd="12" sizeSm="12" size="12">
                  <div class="contentIcon"><ion-icon class="iconDanger" *ngIf="!isValid" name="alert-circle-outline" color="danger" style="width: 30px;"></ion-icon></div>
                  <app-input [inputPlaceholder]="splitWord('Visto por primera vez')" [(inputValue)]="firstApparitionValue" ngDefaultControl (inputValueChange)="firstApparitionValue" required></app-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" sizeLg="12" sizeMd="12" sizeSm="12" size="12">
                  <div class="contentIcon"><ion-icon class="iconDanger" *ngIf="!isValid" name="alert-circle-outline" color="danger" style="width: 30px;"></ion-icon></div>
                  <app-input [inputPlaceholder]="splitWord('Ocupación')" [(inputValue)]="occupationValue" ngDefaultControl (inputValueChange)="occupationValue" required></app-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" sizeLg="12" sizeMd="12" sizeSm="12" size="12">
                  <div class="contentIcon"><ion-icon class="iconDanger" *ngIf="!isValid" name="alert-circle-outline" color="danger" style="width: 30px;"></ion-icon></div>
                  <app-input [inputPlaceholder]="splitWord('Género')" [(inputValue)]="genderValue" ngDefaultControl (inputValueChange)="genderValue" required></app-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" sizeLg="12" sizeMd="12" sizeSm="12" size="12">
                  <div class="contentIcon"><ion-icon class="iconDanger" *ngIf="!isValid" name="alert-circle-outline" color="danger" style="width: 30px;"></ion-icon></div>
                  <app-input [inputPlaceholder]="splitWord('Raza')" [(inputValue)]="raceValue" ngDefaultControl (inputValueChange)="raceValue" required></app-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="description">
      <ion-col sizeLg="9" sizeMd="9" sizeSm="12" size="12">
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-padding" sizeLg="12" sizeMd="12" sizeSm="12" size="12">
                <div class="contentIcon"><ion-icon class="iconDanger" *ngIf="!isValid" name="alert-circle-outline" color="danger" style="width: 30px;"></ion-icon></div>
                <app-input [inputPlaceholder]="splitWord('Descripción')" class="inputDescription" [(inputValue)]="descriptionValue" ngDefaultControl (inputValueChange)="descriptionValue" required></app-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-button class="btnSave" (click)="onSubmit()"></app-button>
  </div>
</ion-content>

