.custom-grid {
  margin: 0 auto; /* Centra horizontalmente el contenedor */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crea 3 columnas iguales */
  grid-gap: 5px; /* Agrega un espacio entre las celdas */
  padding-top: 50px;
  //padding-left: 200px;
  padding-left: 17%;
}
ion-card{
  width: 100%;
}
.description{
  margin: 0 auto;
  padding-left: 17%;
}
.btnSave{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.contentIcon{
  display: flex;
  justify-content: flex-end;
}
.iconDanger{
  width: 30px;
  height: 30px;
  margin-bottom: -30px;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 768px) {
  .custom-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cambia a 2 columnas según el ancho */
    padding-left: 2%;
  }

  .description {
    padding-left: 2%;
  }

  ion-card{
    width: 85%;
  }
}
