<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      <strong routerLink="/intro" style="cursor: pointer;">Spider-Man Multiverse</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="glass-content">
    <ion-grid>
      <ion-row>
        <ion-col routerLink="/character-detail/{{ c.id }}" *ngFor="let c of spiderData" sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" sizeLg="4" sizeMd="12" sizeSm="12" size="12">
                  <ion-avatar>
                    <img class="lazyload" [src]="c.img" alt="Spiderverse"/>
                  </ion-avatar>
                </ion-col>
                <ion-col class="ion-padding" sizeLg="8" sizeMd="8" sizeSm="8" size="12">
                  <div class="name" [textContent]="c.name"></div>
                  <p>Alias: <br> <strong> {{ c.alias }} </strong></p>
                  <p>Tierra: <br> <strong> {{ c.earth }} </strong></p>
                  <p>Visto por primera vez: <br> <strong> {{ c.firstApparition }} </strong></p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

